# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env

# Environment variables / secrets
.env
.env.*
!.env.example

# Streamlit
.streamlit/secrets.toml

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
